PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://saas_file_user:saas_file_pass@localhost:5432/saas_file_management_api_db?schema=public"
FRONTEND_URL=http://localhost:3000
JWT_ACCESS_SECRET=HAOIHAOOHEOWQOQWFWOQWQOQWQOQWQOQWQOQWQOQWQOQW
JWT_ACCESS_EXPIRES_IN=1d
JWT_LOGIN_SECRET=646A4D4DQ4dwD4Qdwwd4QW5644QQW4dadQFW4QWd4qqdqwdWD49DQ9D
JWT_LOGIN_EXPIRES_IN=15m
BCRYPT_SALT_ROUNDS=10
ENABLE_TEST_ROLE_SWITCH=true
CLOUDINARY_CLOUD_NAME=dsrphkxft
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_FOLDER=saas-file-management
REQUEST_BODY_LIMIT=25mb
DEFAULT_ADMIN_NAME="System Admin"
DEFAULT_ADMIN_EMAIL=admin@saas-storage.local
DEFAULT_ADMIN_PASSWORD=Admin@12345
