PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://saas_file_user:saas_file_pass@localhost:5432/saas_file_management_api_db?schema=public"
JWT_ACCESS_SECRET=HAOIHAOOHEOWQOQWFWOQWQOQWQOQWQOQWQOQWQOQWQOQW
JWT_ACCESS_EXPIRES_IN=1d
JWT_LOGIN_SECRET=646A4D4DQ4dwD4Qdwwd4QW5644QQW4dadQFW4QWd4qqdqwdWD49DQ9D
JWT_LOGIN_EXPIRES_IN=15m
BCRYPT_SALT_ROUNDS=10
