PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRES_IN=1d
JWT_LOGIN_SECRET=your_jwt_login_secret
JWT_LOGIN_EXPIRES_IN=15m
BCRYPT_SALT_ROUNDS=10
ENABLE_TEST_ROLE_SWITCH=true
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_FOLDER=saas-file-management
REQUEST_BODY_LIMIT=25mb
DEFAULT_ADMIN_NAME="Rakibul Islam"
DEFAULT_ADMIN_EMAIL=fl.rakibul@gmail.com
DEFAULT_ADMIN_PASSWORD=12345678

DATABASE_URL="postgresql://<db_user>:<db_password>@<db_host>/<db_name>?sslmode=require"
DATABASE_POOLER_URL=""
